@model IMHU.WebUI.Models.LoginModel
      
<div id="navbar" class="navbar-collapse collapse">

    <form action="Account/Login" method="post" class="navbar-form navbar-right" @Html.ValidationSummary(true)>

        <div class="form-group">
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { placeholder = "User name", @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.ValidationMessageFor(m => m.Password)
            @Html.PasswordFor(x => x.Password, new { placeholder = "Password", @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-success">Log In</button>

    </form>
</div>
